<mat-horizontal-stepper #stepper>
  <mat-step label="Kosár">
      <app-cart></app-cart>
  </mat-step>
  <mat-step label="Szállítás és Rendelés">
      <form [formGroup]="shippingForm">
      <mat-form-field>
        <mat-label for="name">Name</mat-label>
        <input type="text" matInput formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput formControlName="address">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input matInput formControlName="city">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>State</mat-label>
        <input matInput formControlName="state">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Zip</mat-label>
        <input matInput formControlName="zip">
      </mat-form-field>

      <button mat-button color="primary" (click)="submitShippingInfo()">Megrendel</button>
    </form>

  </mat-step>
</mat-horizontal-stepper>
