div{
    height: 100%;
    background-color: rgba($color: #5b7C99, $alpha: 0.8);
    background-position: 100%;
    text-align: left;
}
mat-card{
    padding: 10px;
    margin-left: 80px;
    margin-right: 200px;
    margin-top: 10px;
    border-radius: 10px;
    height: 300px;
    font-size: 30px;
}