<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu
      (selectedPage)="changePage($event)"
      [currentPage]="page"
      *ngIf="page"
      (onCloseSidenav)="onClose($event, sidenav)"
      [loggedInUser]="loggedInUser"
      (onLogout)="logout($event)"
    ></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <div fxHide.gt-xs>
        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-start" fxHide.xs>
        <ul fxLayout fxLayoutGap="5px" class="navigation-items">
          <li>
            <a routerLink="/main"
              ><mat-icon class="home_icon">home</mat-icon></a
            >
          </li>
          <li *ngIf="!loggedInUser">
            <a routerLink="/login">Bejelentkezés</a>
          </li>
          <li *ngIf="loggedInUser">
            <a routerLink="/login" (click)="logout()">Kijelentkezés</a>
          </li>
          <li><a routerLink="/register">Regisztráció</a></li>
          <li><a routerLink="/shop">Bolt</a></li>
          <li><a routerLink="/contact">Kapcsolat</a></li>
          <li *ngIf="loggedInUser">
            <a routerLink="/profile">Profil</a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
