body{
    //background-image: url('../app/assets/main-back.jpeg');
    background-size: cover;
    font-family: main;
}
a {
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 25px;
}

a:hover, a:active {
    color: rgba($color: lightgray, $alpha: 1.0);
}

.navigation-items {
    list-style: none;
    padding-left: 0;
    font-family: main;
    background-position: 10%;
    opacity: .7;
}
.ng-star-inserted{
    align-items: center;
}

.home_icon{
    z-index: 999;
}
