body{
    background-color: #5b7C99;
    font-family: main;
}
a {
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 25px;
}

a:hover, a:active {
    color: rgba($color: lightgray, $alpha: 1.0);
}

.navigation-items {
    list-style: none;
    padding-left: 0;
    font-family: main;
}
.ng-star-inserted{
    align-items: center;
}

.home_icon{
    z-index: 999;
}