<div class="main_component">
  <div class="div-flex">
    <h1>Regisztráció</h1>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label for="email">Email cím: </mat-label>
        <input matInput type="text" formControlName="email" />
      </mat-form-field>
      <mat-form-field>
        <mat-label for="password">Jelszó: </mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>
      <mat-form-field>
        <mat-label for="rePassword"> Jelszó újra: </mat-label>
        <input matInput type="password" formControlName="rePassword" />
      </mat-form-field>
      <div formGroupName="name" class="subForm">
        <mat-form-field>
          <mat-label for="firstname">Keresztnév: </mat-label>
          <input matInput type="text" formControlName="firstname" />
        </mat-form-field>
        <mat-form-field>
          <mat-label for="lastname">Vezetéknév: </mat-label>
          <input matInput type="text" formControlName="lastname" />
        </mat-form-field>
      </div>
      <div>
        <span>
          <button mat-raised-button class="buttons" type="submit">
            Regisztráció
          </button> </span
        ><span>
          <button mat-raised-button class="buttons" (click)="goBack()">
            Vissza
          </button>
        </span>
        <span class="loginButton">
          <button mat-raised-button class="loginButton" (click)="toLogin()">
            Bejelentkezés
          </button>
        </span>
      </div>
    </form>
  </div>
</div>
