<div style="background-color: wheat" class="logoBackground">
  <span class="logo">Porsche</span>
  <br />
  Magyarország legnépszerűbb autós webshopja.
</div>
<div class="lower">
  <span class="buttons">
    <button
      mat-flat-button
      class="loginButton"
      (click)="navigateToSite('login')"
    >
      Bejelentkezés
    </button>
    <button
      mat-flat-button
      class="loginButton"
      (click)="navigateToSite('register')"
    >
      Regisztráció
    </button>
  </span>
</div>
