div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    font-size: 30px;
    align-items: center;
}

.main_component {
    height: 100vh;
}
.mat-sidenav-container{
    height:100px;
}