<div style="background-color: #8f00ff" class="logoBackground">
  <span class="logo">Porsche</span>
  <br />
  Magyarország legnépszerűbb autós webshopja.
</div>
<div class="lower">
  <span class="buttons">
    <button
      *ngIf="!loggedUser"
      mat-flat-button
      class="loginButton"
      (click)="navigateToSite('login')"
    >
      Bejelentkezés
    </button>
    <button
      *ngIf="!loggedUser"
      mat-flat-button
      class="loginButton"
      (click)="navigateToSite('register')"
    >
      Regisztráció
    </button>
    <button
      *ngIf="loggedUser"
      class="loginButton"
      mat-flat-button
      (click)="navigateToSite('shop')"
    >
      Áruház
    </button>
    <button
      *ngIf="loggedUser"
      class="loginButton"
      mat-flat-button
      (click)="navigateToSite('cart')"
    >
      Kosár
    </button>
  </span>
</div>
