<div>
  <mat-list style="line-height: 10px">
    <mat-card *ngFor="let imageObject of this.galleryObject">
      <span class="hello">{{ imageObject.nev }}</span>
      <span class="hello">{{ imageObject.evjarat }}</span>
      <span class="hello">{{ imageObject.kilometeroraAllas }} KM</span>
      <span class="hello">{{ imageObject.ar }} Millió Ft</span>
      <img
        [src]="imageObject.download_url"
        alt="af"
        height="150px"
        width="200px"
        style="align-self: flex-end; padding-top: 20px"
      />
      <button mat-stroked-button class="gomb" (click)="this.updateProduct()">
        Szerkesztés
      </button>
      <button
        mat-stroked-button
        class="gomb"
        (click)="this.deleteProduct(imageObject.download_url, imageObject.id)"
      >
        Törlés
      </button>
    </mat-card>
    <button mat-raised-button class="addButton" (click)="this.addProduct()">
      Hozzáadás
    </button>
  </mat-list>
</div>
