div{
    height: 100%;
    background-color: rgba($color: #8c92ac, $alpha: 0.8);
    background-position: 100%;
}

mat-card{
    padding: 10px;
    margin-left: 80px;
    margin-right: 200px;
    margin-top: 10px;
    border-radius: 10px;
    height: 300px;
    font-size: 30px;
}

.gomb{
margin: 5px;
}